
<header class="container">
   <div class="logo-container">
       <div class="shape"><img src="../../assets/images/shape.png" alt=""></div>
       <span>TESTTASK</span>
    </div>
    
    <div class="button-holder">
        <button (click)="toggleMenu()"><img src="../../assets/images/burger.svg" alt=""></button>
    </div>

   <nav class="desktop">
       <ul>
           <li><a href="">About me</a></li>
           <li><a href="">Relationships</a></li>
           <li><a href="">Requirements</a></li>
           <li><a href="">Users</a></li>
           <li><a href="">Sign Up</a></li>
       </ul>
   </nav>

   <nav [ngClass]="{ 'opened':opened }" class="mobile">
        <ul>
            <li><a href="">About me</a></li>
            <li><a href="">Relationships</a></li>
            <li><a href="">Requirements</a></li>
            <li><a href="">Users</a></li>
            <li><a href="">Sign Up</a></li>
        </ul>
   </nav>
</header>
