 @import "../../variables.scss";
 
 /*--------------------------HEADER STYLING-------------------------------*/
 header {
    position: fixed;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $bg-color-1;
    height: 60px;
    align-items: center;
    .logo-container {
        display: flex;
        justify-items: flex-start;
        margin-left: 29px;
        
        .shape {
            width: 30px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }
        span {
            letter-spacing: 3.1px;
        }
    }

    .button-holder {
        display: none;
    }

    .desktop { //DESKTOP NAVIGATION STYLING
        ul {
            display: flex;
            list-style: none;
            margin-right: 15px;
            li {
                margin: 0 14px;
            }
            li:nth-child(-n+2),
            li:nth-last-child(2) {
                margin: 0 15px 0 14px;//SET PIXEL PERFECT MARGIN
            } 
            a {
                font-size: 14px;
                color: #000;
                text-decoration: none;
                
            }
            a:hover {
                cursor: pointer;
            }
            
        }

    }
    .mobile {
        display: none;
    }
    
}
 /*--------------------------HEADER STYLING-------------------------------*/

 /*--------------------------MEDIA QUERY FOR 768PX-------------------------------*/

@media screen and (max-width: 768px) { 

   header {
       height: 60px;
       .button-holder {
        display: block;
        margin-right: 7px;
        padding-top: 1px;
        button {
            border: none;
            background-color: transparent;    
            }
        }
        .logo-container {
            margin-left: 15px;
        }
       .desktop {
           display: none;//HIDE DESKTOP MENU
       }
       

       .mobile {
           display: block;//DISPLAY MOBILE MENU
           width: 70vw;
           height: 100vh;
           position: absolute;
           top:0;
           left: -100%;
           background-color: #fff;
           transition-duration: 0.5s;
           transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
           z-index: 10;
           overflow: scroll;
           .logo-container {
               padding: 15px;
               border-bottom: 1px solid #E1E1E1;
               img {
                   margin-right: 4px;
               }
           }
           ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding-left: 0;
            border-bottom: 1px solid #E1E1E1;
            margin: 0;
            padding: 10px 0;
            li {
                margin: 9px 15px;
            }
            a {
                font-size: 14px;
                color: #000;
                text-decoration: none;
            }
            
        }
        
        
       }
       .opened {
            left: 0;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        .dark{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0,0,0,0.5);
        }

        .dark-open {
            display: block;
            z-index: 9;
        }
   }
}

@media screen and (max-width: 600px) { //set 40px header height for small devices
    header {
        height: 40px;
    }
}